*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body{
    margin: 0;
}

html{
    font-family: 'Fredoka', sans-serif;
}

.team{
    text-align: center;
    color: rgba(229,49,112,255);
}

.lorem{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    background-color:rgba(15,14,23,255);
    width: 200px;
    height: 290px;
    margin: 10px;
    border-radius: 15px;
    color: white;
    box-shadow: 10px 10px 5px grey;
}

.card-image{
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

